/* video.css */

/* Style the video container */
#video-container {
    text-align: center; /* Center the video within the container */
    margin-top: 20px; /* Add some space at the top */
}

/* Style the title */
#title {
    text-align: center; /* Center the title text */
}

#back-button {
    text-decoration: none;
    background-color: #548d68; /* Hintergrundfarbe des Home-Buttons in einer grünlichen Version */
    color: #fff; /* Weiße Textfarbe */
    padding: 10px;
    border-radius: 10px; /* Abgerundete Ecken für den Button */
    transition: background-color 0.3s ease-in-out;
    margin: 1%;
}